#bod{
width:15328;
}
#box
{

position: absolute;
left: 0px;
background: black;
width: 1916;
height: 1278px;
}

#imageDirContents{
visibility: hidden;
}

#short{
position: absolute;
float:right;

}





.a4{
		-webkit-animation-duration: 3s;
	}
.a1{
		-webkit-animation-duration: 6s;
	}
	
	
#leftBar{
display:none;
position: fixed;
height: 1278px;
width: 125px;
background: white;
top:0;
left:0;
z-index: 4;
opacity: .3;
}
.lbounce{
		position: absolute;
		z-index: 4;
		top: 100;
		left:250;
		-webkit-animation-name: lbounce;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: normal;
	}
@-webkit-keyframes lbounce{
	0% {left: -125px;}
	10% {left: -5px;}
	20% {left: -125px;}
	30% {left: -5px;}
	40% {left: -125px;}
	50% {left: -5px;}
	60% {left: -125px;}
	70% {left: -5px;}
	80% {left: -125px;}
	90% {left: -5px;}
	100% {left: -125px;}
	}


#rightBar{
display:none;
position: fixed;
height: 1278px;
width: 125px;
background: white;
top:0;
right:0;
z-index: 4;
opacity: .3;
}
.rbounce{
		position: absolute;
		z-index: 4;
		top: 100;
		right:250;
		-webkit-animation-name: rbounce;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: normal;
		}
@-webkit-keyframes rbounce{
	0% {right: -125px;}
	10% {right: -5px;}
	20% {right: -125px;}
	30% {right: -5px;}
	40% {right: -125px;}
	50% {right: -5px;}
	60% {right: -125px;}
	70% {right: -5px;}
	80% {right: -125px;}
	90% {right: -5px;}
	100% {right: -125px;}
	}


/* Class "keyframes" */

.poszero{
-webkit-transform:translate(0px);
-webkit-transition:all 2s ease-in;
}
.posone{
-webkit-transform:translate(-1916px)
}
.postwo{
-webkit-transform:translate(-3832px);
}
.posthree{
-webkit-transform:translate(-5748px);
}
.posfour{
-webkit-transform:translate(-7664px);
}
.posfive{
-webkit-transform:translate(-9580px);
}
.possix{
-webkit-transform:translate(-11496px);
}
.posseven{
-webkit-transform:translate(-13412px);
}



